@model CodeIt.Models.GuestCodeDetailsModel
    @using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Details";

}

<div class="space20"></div>

<h1>@Model.CodeTitle</h1>

<div class="space20"></div>

<h2>@Model.Author</h2>

<h4>Code creation date: @Model.TimeCreated</h4>

<div class="space20"></div>


<div id="selectable" class="ui-selectable space10">
    <ol class="text well">
        @foreach (var line in Model.CodeContent)
        {
            <li class="li1"> <div class="de1"><pre>@(line)</pre></div></li>
        }

    </ol>
</div>

<p class="text-right">
    <a href="/Code/AllGuest?page=@Model.PrevPage" class="btn btn-info"><< Back</a>
    <a href="/Comment/CreateOnGuest/@Model.Id" class="btn btn-success">Comment</a>

    @if (User.IsInRole("Admin"))
    {

    <p class="text-left">
        <a href="/Code/GuestEdit/@Model.Id" class="btn btn-success">Edit</a>
        <a href="/Code/GuestDelete/@Model.Id" class="btn btn-danger">Delete</a>
    </p>

    }

</p>
    


<div class="space20"></div>
<div class="space20"></div>
@if (Model.Coments.Count != 0)
{
    <h2>Comments</h2>
    <div class="space20"></div>
    <div class="space20"></div>
    <div class="space20"></div>
    <div class="space20"></div>

}





@if (Model.Coments.Count > 0)
{
    foreach (var c in Model.Coments)
    {
        <div class="space10 comDiv">
            <p class="lead" style="margin-bottom:0px; margin-left:10px">@c.Author.Nickname</p>
            <p style="margin-left:10px">Date: @c.TimeCreated</p>

            <textarea class="comment " disabled>@c.Content</textarea>
            <p class="text-right" style="margin:2px; margin-right:10px">
                @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || c.IsAuthor(User.Identity.GetUserId())))
                {
                    <a href="/Comment/DeleteOnGuest/@c.Id" class="btn btn-danger">Delete X</a>
                    <a href="/Comment/EditOnGuest/@c.Id" class="btn btn-success">Edit</a>
                }
                
            </p>
        </div>
    }
}

@{
    if (Model.Coments.Count > 8)
    {
        <p class="text-right">
            <a href="/Comment/CreateOnGuest/@Model.Id" class="btn btn-success">Comment</a>
        </p>
    }
}
