@model CodeIt.Models.CommentOnGuest

@{
    ViewBag.Title = "Delete Comment";
}

<h2>Delete Comment</h2>
@using (Html.BeginForm("DeleteOnGuest", "Comment", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Author.Nickname, new { @class = "control-label col-sm-4" })
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.Author.Nickname, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Content, new { @class = "control-label col-sm-4" })
        <div class="col-sm-4">
            @Html.TextAreaFor(m => m.Content, new { @class = "form-control", @readonly = "readonly", @rows = "7" })
        </div>
    </div>

            <div class="form-group">

                <div class="col-sm-4 col-sm-offset-4">
                    <a href="/Code/GuestCodeDetails/@Model.CodeId" class="btn btn-default">Cancel</a>
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            </div>
}